# This is a basic workflow to help you get started with Actions

name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]


  workflow_dispatch:


jobs:
# Docker swarm deployment to https://dev.xdesk.app      
   deploy:     
     runs-on: self-hosted


     steps:
      
       - uses: actions/checkout@v2

       - name: Deploy Services Document
         env:
           SACRTS: ${{ secrets.WORK_DIR }}
       
         run: |
          docker build -t bresnow/cnxt-app:latest $env:SACRTS/Dockerfile
          docker push bresnow/cnxt-app:latest
          ./deploy
